* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
@keyframes onBlur{
            0%{
                filter: blur(0px);
                background-position: bottom;
            }
            100%{
                filter: blur(0px);
                background-position: top;
            }
        }
@keyframes moonMove{
        0%{
            top:-150px;
        }
        50%{
            top:100px;
        }
        100%{
            top: 150px;
        }

}
@keyframes onClip{
            0%{
                clip-path: circle(120px at 50% 100%);
            }
            50%{
                clip-path: circle(300px at 50% 30%);
            }
            100%{
                clip-path: circle(1000% at 100% 100%);
            }
            
        }




@keyframes roadToDown{
    0%{
        bottom: 0px;
    }
    100%{
        bottom: -150px;
    }

}
@keyframes starVisible{
    0%{
        opacity: 0;
    }
    100%{
        opacity: .2;
    }
}

@keyframes cloudsRun {

    0%{
      left:-150px  
    }
    100%{
        left:150%;

    }

}
        
       
.preload{
    position: absolute;
    top: 50%;
    left: 50%;
    color: tomato;
    font-size: 5em;
    transform: translate(-50%, -50%);
}



.onEarth {
    position: relative;
    background-color: #0D0D0D;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 100px;
    background: url(img/graphic/sky.jpg),black;
    background-repeat: no-repeat;
    background-position: bottom;
    transition: .2s ease-in;
    clip-path: circle(120px at 50% 100%);
    animation: onClip 3s ease-in-out both,onBlur 3s  linear both;
    overflow: hidden;

}
.onEarth:before{
    content: "";
    width: 100%;
    height: 100%;
    top:0px;
    left:0px;
    position: absolute;
    background: url(img/graphic/starry-night.jpg) no-repeat top;
    opacity: 0; 
    animation: starVisible .5s 3s ease-in-out both; 
}
.onEarth:after {
    content: "";
    width: 100%;
    height: 150px;
    bottom:0px;
    left:0px;
    position: absolute;
    background: url(img/graphic/road.png) no-repeat center;
    background-size: contain;
    animation: roadToDown 1s linear both;
    
}


.planet {
/* content: ""; */
display: flex;
justify-content: center;
align-items: center;
position: absolute;
transform-style: preserve-3d;
width: 200px;
height: 200px;
top:-150px;
left:400px;
background: url(img/graphic/earth.png) no-repeat center;
background-size: cover;
animation: moonMove 1s 3s linear both;
transition:  .1s linear;
border: 0px solid black;
border-radius: 50%;
font-family: 'Orbitron', sans-serif;
color: #FFFFFF;
}
.planet:hover{  
    cursor: pointer;
    transform: scale(1.2);
    border: 1px solid rgb(255, 140, 0);
}
.planet>aside{
    display:flex;
    position: absolute;
    visibility: hidden;
    left: 75%;
    top:50%;
    width: 100%;
    padding: 5%;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    text-align:left;
    background-color: rgba(100,100,100,.5);
    border: 1px solid rgba(0,00,00,.8);
    text-shadow: 0 0 5px rgb(22, 22, 22), 0 0 10px rgb(27, 26, 26), 0 0 15px rgb(51, 50, 50), 0 0 20px #ff9100, 0 0 30px #49FF18, 0 0 40px #fc810f, 0 0 55px #fd7d05, 0 0 75px #ff6d18;
   
}
@keyframes asideMove{
    0%{
        left:50%;
        opacity: 0;
   
    }
    100%{
        left: 75%;
        opacity: 1;
   
    }
}

.planet>aside.show{
    visibility: visible;
    animation: asideMove 1s ease-in-out ;
}
.planet.trans{
    transition:  6s ease-in;
}


.planet.moon{
    width: 150px;
    height: 150px;
    left:80%;
    animation-delay: 3.5s;
    background: url(img/graphic/moon.png) no-repeat center;
    background-size: cover;
    padding: 10px;
    transform: scaleX(1);
} 
.planet.mars{
    width: 120px;
    height: 120px;
    left:50%;
    animation-delay: 4s;
    background: url(img/graphic/mars1.png) no-repeat center;
    background-size: cover;
} 
.planet.saturn{
    width: 100px;
    height: 100px;
    left:10%;
    animation-delay: 5s;
} 
.clouds{
width: 150px;
height: 150px;
top:50px;
left:400px;
position: absolute;
background: url(img/graphic/cloud_1.png) no-repeat center;
background-size: contain;
/* animation: cloudsRun 50s linear infinite; */
}
.bright{
    position: absolute;
    top:55%;
    right: 23.5%;
    height: 350px;
    width: 300px;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, .9);
    filter: blur(100px) brightness(1);
}
.bright2 {
    position: absolute;
    top:55%;
    right: 27%;
    height: 100px;
    width: 100px; 
    filter: blur(25px);

}
.bright2:after{
    content: "";
    display: block;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40px;
    width: 40px;
    background: rgb(231, 227, 202);
    filter: blur(15px) brightness(1);
}




body,a {
    color: white;
    text-decoration: none;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    transform-style: preserve-3d;
    /* background: lightblue; */
    /* padding: 20px; */
}
header h1{
    padding: 5px;
    border: 1px solid white;
    perspective: 1000px;
}
@keyframes skm{
    0%{
        transform: scale(1) rotate3d(1,1,1,0deg);
    }
    50%{
        transform: scale(0.5) rotate3d(5,5,5,100deg);
    }
    80%{
        transform: scale(2) rotate3d(10,10,10,180deg);
    }
    100%{
        transform: scale(1) rotateY(360deg);
    }
}
.animate_SKM{
    display: inline-block;
    animation:skm 2s ease-in-out infinite both ;
}

#btn_dropMenu{
    position: relative;
    cursor: pointer;
    height: 30px;
    width: 30px;
    transition: .5s ease;
    /* background-color: white; */
}
#btn_dropMenu.active{
    margin-right: 100px;
}
#btn_dropMenu:before,#btn_dropMenu:after{
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    transition: .5s ease;
}
#btn_dropMenu:before{
    /* top:10px; */
    border-top: 2px solid rgb(250, 249, 249);
}
#btn_dropMenu:after{
    /* bottom:10px; */
    border-top: 2px solid rgb(255, 254, 254);
    
}

#btn_dropMenu.active:before{
    transform-origin:top center ;
    transform: rotate(-45deg);
}
#btn_dropMenu.active:after{
    transform: rotate(45deg);
}



section.about{
    width: 50%;
    align-self: left;
}
section.about:after{
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: white;
    bottom:0%;
    left: 50%;
    border: 1px solid darkorange;
    border-radius: 50%;
}
.content{
    width:80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-left: 1px solid;
    border-bottom: 1px solid;
}
.content p,.content a{
    margin-top: 10px;
}
.content a{
    display: inline-block;
    padding: 5px;
    color: black;
    align-self: flex-end;
    /* border: 2px solid black; */
    background: #ffff;
}
.nav_menu{
    position: absolute;
    top:0;
    right:0px;
    background-color:rgba(25, 13, 80, 0.377);
    height: 100%;
    padding: 10px;
    transform: translateX(200px);
    transition:  .3s ease-in-out;

}
.nav_menu.active{
    transform: translateX(0);
}
.nav_menu ul{
    list-style: none;
}
.nav_menu ul li{
    font-size: 2em;
    margin-top: 10px;
    border-bottom: 10px solid rgba(231, 227, 202, 0.918);
    transition: .7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.nav_menu ul li:hover{
    border-bottom: 10px solid darkorange;
    transform: translateX(10px);
}


#canvas{
    position: absolute;
    top:0;
    left: 0;
}
.onMars{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(img/graphic/onTheMars.jpg) no-repeat;
    background-size: cover;
}

.onMoon{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(img/graphic/onTheMoon.jpg) center no-repeat;
    background-size: cover;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    align-items:stretch;
    justify-content: space-around;
    position: absolute;
    width: 80%;
    height: 90%;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(25, 13, 80, 0.2);
    border: 1px solid darkorange;

}

.gallery .card{
    position: relative;
    display: flex;
    width: 26%;
    height: auto;
    margin: 2px 0 2px 0;
    border: 1px solid darkcyan ;
    background:transparent;
    transition: .3s linear;
    overflow: hidden;
}
.gallery .card:hover{
    cursor: pointer;
    border: 1px solid orange ;
    
}
.gallery .card:hover .discribe{
    bottom: 0;
}
.example{
    width: 100%;
    height: 100%;
    background: url(img/content/ToDoList.jpg) no-repeat;
    background-size: contain;
}
.discribe{
    position: absolute;
    bottom: -150px;
    left: 0;
    height: 50%;
    width: 100%;
    background: rgba(25, 13, 20, 0.8);
    transition: .3s linear;
}



section.activeFrame{
    z-index: 99999;
    animation: frameVisible 1s 2s ease-in both;
}

@keyframes frameVisible{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}